
@font-face {
    font-family: quicksand;
    src: url("../fonts/quicksand.otf") format("opentype"),
   		 url("../fonts/quicksand.ttf") format("truetype");
 	font-weight: normal;
    font-style: normal; }

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .ionic-body, .tab-item, input, button, select, textarea, .tab-item {
 font-family: "quicksand" sans-serif !important; }

.white {
	color: #fff;	
	padding-top: 2px;
	font-weight: bold !important;}

.p20 {
	padding: 8px;}
	
.button.ng-hide{
  display:none;}


/* Fonts */

h2.miniDesc  {
	font-size: 20px;
}

h1.title {
	font-size: 18px !important;
}

h1.salary {
	font-size: 54px !important;
}


.bar .title {
   		height: 50px !important;
    	font-size: 24px !important;
    	line-height: 48px !important; }
 
.salary {
	font-size: 64px !important;
	height: 80px !important;
	text-align: right;
}

.button-next-mainScreen {
}

.analysisGood {
	background: #fff;
}

.list {
	background: transparent;
}

input[type=range]::-webkit-slider-thumb {
	background: green;
	border-radius: 50%;
	border: 0px transparent;
}

.Tcenter {
	text-align: center;
}