
@font-face {
    font-family: quicksand;
    src: url("../fonts/quicksand.otf") format("opentype"),
   		 url("../fonts/quicksand.ttf") format("truetype");
 	font-weight: normal;
    font-style: normal; }

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .ionic-body, .tab-item, input, button, select, textarea, .tab-item {
 font-family: "quicksand" sans-serif !important; }

.white {
	color: #fff;	
	padding-top: 2px;
	font-weight: bold !important;}

.p20 {
	padding: 8px;}
	
.button.ng-hide{
  display:none;}


/* Fonts */

h2.miniDesc  {
	font-size: 20px;
}

h1.title {
	font-size: 18px !important;
}

h1.salary {
	font-size: 54px !important;
}


.bar .title {
   		height: 50px !important;
    	font-size: 24px !important;
    	line-height: 48px !important; }


.salary {
	font-size: 64px !important;
	height: 80px !important;
	text-align: right;
	font-weight: bold;
}

.salaryOwn {
	font-size: 48px !important;
	text-align: right;

}

.salaryMarket {
	font-size: 72px !important;
	text-align: right;
	font-weight: bolder;
}

.backGood {
	background: url("../img/green.png") no-repeat;
	height: 200px;
	width: 200px;
	background-position: bottom; }

.backBad {
	background: url("../img/red.png") no-repeat;
	height: 200px;
	width: 200px;
	background-position: bottom; }


.textPercentageDif {
	padding-top: 25%;
	font-weight: bold;
}

.textAmountDif {
	padding-top: 25%;
	font-weight: bolder;
}

.textGood {
	color: #5FBE7E; }

.textBad {
	color: #EF4739; }

.list {
	background: transparent;
}

input[type=range]::-webkit-slider-thumb {
	border-radius: 50%;
	border: 0px transparent;
	background: #EF4739;}

. circleGood input[type=range]::-webkit-slider-thumb {
	border-radius: 50%;
	border: 0px transparent;
	background: #5FBE7E;}

.Tcenter {
	text-align: center;
}

.row {
	margin-top: 32px;
	margin-bottom: 32px;
}

.tCenter {
	text-align: center;
}