<ion-view view-title="vs. PUESTO">
  
  
  
  <ion-content> 
	
		<a class="item item-avatar item-icon-right" href="#">
		  <img src="venkman.jpg">
	      <h2 class="miniDesc">Mi perfil</h2>
		      <p class="">Mini descripción:</p>
		      <p style="widht: 100%;">Bla bla bla bla Bla bla bla bla bla bla bla Bla bla bla bla Bla bla bla bla Bla bla bla bla</p>
		      <p>Bla bla bla bla Bla bla bla bla</p>
		  <i class="icon icon-right ion-chevron-right"></i>
		</a>
	
	<div class="list list-inset">
	  <label class="item item-input">
	    <i class="icon ion-search item-icon-right placeholder-icon"></i>
	    <input type="text" placeholder="	Buscador por texto">
	  </label>
	</div>
	
	
	<div class="list">
	

		<a class="item item-avatar item-icon-right" href="#">
		  <img src="venkman.jpg">
	      <h2 class="miniDesc">Gerente de RRHH</h2>
		      <p class="">Mini descripción:</p>
		      <p style="widht: 100%;">Bla bla bla bla Bla bla bla bla bla bla bla Bla bla bla bla Bla bla bla bla Bla bla bla bla</p>
		      <p>Bla bla bla bla Bla bla bla bla</p>
		  <i class="icon icon-right ion-chevron-right"></i>
		</a>
	
	    <a class="item item-avatar item-icon-right" href="#">
		  <img src="venkman.jpg">
	      <h2 class="miniDesc">Gerente de Producción</h2>
		      <p class="">Mini descripción:</p>
		      <p style="widht: 100%;">Bla bla bla bla Bla bla bla bla bla bla bla Bla bla bla bla Bla bla bla bla Bla bla bla bla</p>
		      <p>Bla bla bla bla Bla bla bla bla</p>
		  <i class="icon icon-right ion-chevron-right"></i>
		</a>

	
	    <a class="item item-avatar item-icon-right" href="#">
		  <img src="venkman.jpg">
	      <h2 class="miniDesc">Gerente de Ventas</h2>
		      <p class="">Mini descripción:</p>
		      <p style="widht: 100%;">Bla bla bla bla Bla bla bla bla bla bla bla Bla bla bla bla Bla bla bla bla Bla bla bla bla</p>
		      <p>Bla bla bla bla Bla bla bla bla</p>
		  <i class="icon icon-right ion-chevron-right"></i>
		</a>
	
		<a class="item item-avatar item-icon-right" href="#">
		  <img src="venkman.jpg">
	      <h2 class="miniDesc">No existe en nuestra base...</h2>
	      <p>Por favor busca nuevamente o solicitala haciendo </p>
	      <p>O bien hace click y solicitala</p>
	 	  <i class="icon icon-right ion-chevron-right"></i>
		</a>
	
		<a class="item item-avatar item-icon-right" href="#">
		  <img src="venkman.jpg">
	      <h2 class="miniDesc">Solicita una nueva posición</h2>
	      <p>Si o deseas nuestro equipo de expertos puede ayudarte</p>
	      <i class="icon icon-right ion-chevron-right"></i>
		</a>
	
	
	</div>




  </ion-content>


</ion-view>
