<ion-nav-bar class="bar-dark">

	<ion-nav-buttons side="right" href="#/app/main">
		<button class="button button-icon button-clear ion-home" menu-toggle="right"  ng-click="/app/main" >
		</button>
	</ion-nav-buttons>

</ion-nav-bar>

<ion-view class="analysisGood" view-title="C1 Puesto">

	<ion-content>

		<div class="list list-inset Tcenter">
			<h4 class="">El mercado esta pagando</h4>
			<h1 class="salaryMarket Tcenter">${{positionData.average}}</h1>
		</div>

		<div class="list list-inset Tcenter">
			<h4 style="font-weight: bold;">{{consultData.hierarchyName}}</h4>
			 <h5>del sector de {{consultData.sectorName}}</h5>
			 <h5>y del area de {{consultData.areaName}}</h5>
		</div>

		<div class="list Tcenter">
			<h4>Sueldos brutos promedios segun la experiencia del puesto</h4>

			<div class="row Tcenter">
				<div class="col-33"><h4>${{positionData.average*positionData.coef_junior | number:0}}</h4>Junior</div>
				<div class="col-33"><h4>${{positionData.average}}</h4>Pleno</div>
				<div class="col-33"><h4>${{positionData.average*positionData.coef_senior | number:0}}</h4>Senior</div>
			</div>
		</div>

		<ion-item nav-clear menu-close href="#/app/c1_areas">
			Volver a consultar
		</ion-item>
		<ion-item nav-clear menu-close ng-click="goToC2Seniority()">
			Agregar a mi perfil
		</ion-item>
		<ion-item class="item item-icon-right"  href="#/app/help">
			<h2 class="miniDesc">Ayuda</h2>
			<p>Nuestro equipo esta para ayudarte</p>
		</ion-item>


	</ion-content>


</ion-view>
