<ion-view view-title="C1 Jerarquias">
  
	<ion-content>
  	
  		<div class="list list-inset p20 Tcenter">

			<h4>Estas buscando en el area de:
				<h4 style="font-weight: bold;">{{consultData.areaName}} </h4>
			<h4>Y el sector de:
				<h4 style="font-weight: bold;">{{consultData.sectorName}} </h4>
			el puesto que deseas encontrar.</h4>
		</div>
  
	    <ion-list>
	      	<ion-item class="item item-icon-right" ng-repeat="hierarchy in hierarchies" href="#/app/c1_consultResult/{{hierarchy.hierarchyId}}/{{hierarchy.name}}">
	      		<h2 class="miniDesc">{{hierarchy.name}}</h2>
				<p>{{hierarchy.description}}</p>
				<i class="icon icon-right ion-chevron-right"></i>
	      	</ion-item>
	      	<a class="item item-avatar item-icon-right" href="#">
		      <h3 class="miniDesc">Ayuda</h3>
		      <p>Nuestro equipo esta para ayudarte</p>
			  <i class="icon icon-right ion-chevron-right"></i>
			</a>
	    </ion-list>
  	</ion-content>
</ion-view>