<ion-view view-title="C1 Sect">
	<ion-content>

		<div class="list list-inset p20">
			<h3 class="">Area: {{consultData.areaName}}</h3>
		</div>

		<ion-list>

			<ion-item ng-repeat="sector in sectors" class="item item-icon-right" href="#/app/c1_hierarchies/{{sector.sectorId}}/{{sector.name}}">
				<h2 class="miniDesc">{{sector.name}}</h2>
				<p>{{sector.description}}</p>
				<i class="icon icon-right ion-chevron-right"></i>
			</ion-item>

			<a class="item item-icon-right" href="#">
				<h3 class="miniDesc">Ayuda</h3>
				<p>Nuestro equipo esta para ayudarte</p>
				<i class="icon icon-right ion-chevron-right"></i>
			</a>

		</ion-list>

	</ion-content>
</ion-view>