<ion-view view-title="C2 Areas">
	<ion-content>

		<ion-list>

			<ion-item ng-repeat="area in areas" class="item item-icon-right" href="#/app/c2_sectors/{{area.areaId}}/{{area.name}}">
				<h2 class="miniDesc">{{area.name}}</h2>
				<p>{{area.description}}</p>
				<i class="icon icon-right ion-chevron-right"></i>
			</ion-item>

			<a class="item item-icon-right" href="#">
				<h3 class="miniDesc">Ayuda</h3>
				<p>Nuestro equipo esta para ayudarte</p>
				<i class="icon icon-right ion-chevron-right"></i>
			</a>

		</ion-list>

	</ion-content>
</ion-view>