<ion-view class="analysisGood" view-title="Analysis">

	<ion-content>


		<div class="list list-inset Tcenter">
			<h4 class="">Tu sueldo bruto</h4>
			<h1 class="salaryOwn Tcenter">${{profileData.amount}}</h1>
			<h4 class="">El mercado esta pagando</h4>
			<h1 class="salaryMarket Tcenter">${{profileData.marketValue}}</h1>

			<div class="row">
				<div class="col-50 back{{profileData.amountStatus}}">
					<h1 class=" textPercentageDif">{{((((profileData.amount - profileData.marketValue)/profileData.marketValue))*100)-1  | number:0}}%</h1>

				</div>
				<div class="col-50">
					<h1 class="text{{profileData.amountStatus}} textAmountDif">${{profileData.amount - profileData.marketValue}}</h1></h1>
				</div>
			</div>
		</div>

		<div class="list list-inset Tcenter">
			<h5 class="">{{profileData.hierarchyName}} de {{profileData.sectorName}} de {{profileData.areaName}}</h5>
		</div>

		<div class="list">
			<div class="range analysisGood">
				<h4 class="Tcenter">${{profileData.min}}<br>Min.</h4>
					<input class="" type="range" name="volume" min="{{profileData.min}}" max="{{profileData.max}}" value="{{profileData.amount}}">
				<h4 class="Tcenter">${{profileData.max}}<br>Max.</h4>
			</div>
		</div>

		<div class="list Tcenter">
			<h4>Sueldos brutos promedios segun el tamaño de la empresa</h4>

			<div class="row Tcenter">
				<div class="col-33"><h4>${{profileData.small}}</h4>Pequeñas</div>
				<div class="col-33"><h4>${{profileData.medium}}</h4>Medianas</div>
				<div class="col-33"><h4>${{profileData.large}}</h4>Grandes</div>
			</div>

		</div>



		<ion-item nav-clear menu-close ng-click="clean()">
			Volver a cargar datos
		</ion-item>
		<ion-item nav-clear menu-close ng-click="save()">
			Continuar a mi perfil
		</ion-item>
		<ion-item class="item item-icon-right"  href="#/app/help">
			<h2 class="miniDesc">Ayuda</h2>
			<p>Nuestro equipo esta para ayudarte</p>
		</ion-item>

		<h4 class=""></h4>


	</ion-content>


</ion-view>
