<ion-view view-title="C2 Salario">

    <ion-content>

        <div class="list Tcenter">
            <h5>Te estas comparando con el mercado en el area de:</h5>
                <h5 style="font-weight: bold;">{{profileData.areaName}} </h5>
                <h5>Y el sector de:
                    <h5 style="font-weight: bold;">{{profileData.sectorName}} </h5>
                    <h5>tu puesto de</h5>
                    <h5 style="font-weight: bold;">	{{profileData.hierarchyName}}</h5>
                    <h5>con experiencia de:</h5>
                    <h5 style="font-weight: bold;">	{{profileData.seniorityName}}</h5>
                    <br />
                    <h4 class="">Solo falta ingreses el monto bruto que cobraste (sin descuentos) en el último mes.</h4>
            </div>

            <div class="list list-inset">
                <label class="item item-input">
                    <input class="salary" ng-model="amount" type="number"/>
                </label>
            </div>

        </div>

        <a class="button button-block button-positive button-next-mainScreen" ng-href="#/app/c2_analysis/{{amount}}">
            <h2 class="white">Siguiente</h2>
        </a>

        <a class="item item-avatar item-icon-right" href="#">
            <h2 class="miniDesc">Ayuda</h2>

            <p>Nuestro equipo esta para ayudarte</p>
            <i class="icon icon-right ion-chevron-right"></i>
        </a>


    </ion-content>


</ion-view>
