<ion-view view-title="C2 Jerarquias">

	<ion-content>

		<div class="list list-inset p20 Tcenter">


			<h5>Te estas comparando con el mercado en el area de:</h5>
				<h5 style="font-weight: bold;">{{profileData.areaName}} </h5>
				<h5>Y el sector de:
					<h5 style="font-weight: bold;">{{profileData.sectorName}} </h5>
					<br />
					<h4>Por favor elegi tu puesto de trabajo.</h4>

				<!--
        <h3 class="">País: {{profileData.countryName}}</h3>
        <h3 class="">Sueldo: {{profileData.amount}}</h3>
        -->
		</div>


		<ion-list>
			<ion-item class="item item-icon-right" ng-repeat="hierarchy in hierarchies" href="#/app/c2_seniorities/{{hierarchy.hierarchyId}}/{{hierarchy.name}}">
				<h2 class="miniDesc">{{hierarchy.name}}</h2>
				<p>{{hierarchy.description}}</p>
				<i class="icon icon-right ion-chevron-right"></i>
			</ion-item>
			<a class="item item-avatar item-icon-right" href="#">
				<h3 class="miniDesc">Ayuda</h3>
				<p>Nuestro equipo esta para ayudarte</p>
				<i class="icon icon-right ion-chevron-right"></i>
			</a>
		</ion-list>
	</ion-content>
</ion-view>