<ion-view view-title="C2 Experiencia">
  	<ion-content>
  
	  	<div class="list list-inset p20 Tcenter">

			<h4>Te estas comparando con el mercado en el area de:</h4>
				<h4 style="font-weight: bold;">{{profileData.areaName}} </h4>
				<h4>Y el sector de:
				<h4 style="font-weight: bold;">{{profileData.sectorName}} </h4>
				<h4>tu puesto de:</h4>
				<h4 style="font-weight: bold;">	{{profileData.hierarchyName}}</h4>
				<h4>Por favor selecciona la experiencia que tenes:</h4>

		</div>
		
	    <ion-list>
	      
	      <ion-item ng-repeat="seniority in seniorities" class="item item-avatar item-icon-right" href="#/app/c2_data/{{seniority.seniorityId}}/{{seniority.name}}">
	        	<h2 class="miniDesc">{{seniority.name}}</h2>
				<p>{{seniority.description}}</p>
	          	<i class="icon icon-right ion-chevron-right"></i>
	      </ion-item>
	     
	      <a class="item item-avatar item-icon-right" href="#">
		      <h2 class="miniDesc">Ayuda</h2>
		      <p>Nuestro equipo esta para ayudarte</p>
			  <i class="icon icon-right ion-chevron-right"></i>
		  </a>
	     
	    </ion-list>
  	</ion-content>
</ion-view>