<ion-view view-title="Jerarquía?">

	<ion-content>

			<div class="list list-inset p20 Tcenter">
				<h5>Estas comparando tu perfil contra alguien en el area de:</h5>
				<h5 style="font-weight: bold;">{{profileVsResultData.areaName}} </h5>
				<h5>del sector de:</h5>
				<h5 style="font-weight: bold;">{{profileVsResultData.sectorName}} </h5>
				<br />
				<h4>por favor selecciona el de con el que te queres comparar.</h4>

			</div>

		</div>


		<ion-list>
			<ion-item class="item item-icon-right" ng-repeat="hierarchy in hierarchies" href="#/app/c3_seniorities/{{hierarchy.hierarchyId}}/{{hierarchy.name}}">
				<h2 class="miniDesc">{{hierarchy.name}}</h2>
				<!-- <p>{{hierarchy.description}}</p> -->
				<i class="icon icon-right ion-chevron-right"></i>
			</ion-item>

		</ion-list>
	</ion-content>
</ion-view>