<ion-view view-title="C3 COMPARAR CON UN PUESTO">

	<ion-content>

	<ion-item class="item item-avatar item-icon-right" >
		<div class="row tCenter">
			<div class="col-50 tCenter">
				<h3 class="miniDesc">{{profileData.hierarchyName}} de {{profileData.sectorName}} de {{profileData.areaName}}</h3>
			</div>
			<div class="col-50 tCenter">
				<h3 class="miniDesc">{{profileVsResultData.hierarchyName}} de {{profileVsResultData.sectorName}} de {{profileVsResultData.areaName}}</h3>
			</div>
		</div>
	</ion-item>
  


	  <div class="row p32 tCenter">
		  <div class="col-33 ">
			  <h3>${{profileData.amount}}</h3>
		  </div>

		  <div class="col-33 ">
			  <h3>{{((((profileData.amount - profileVsResultData.average)/profileVsResultData.average))*100)-1  | number:0}}%</h3>
		  </div>

		  <div class="col-33 ">
			  <h3>${{profileVsResultData.average}}</h3>
		  </div>
	  </div>

	  <div class="row p32 tCenter">
		  <div class="col-33 ">
			  <h3>5 Años</h3>
		  </div>

		  <div class="col-33 ">
			  <h3>2 Años</h3>
		  </div>

		  <div class="col-33 ">
			  <h3>3 Años</h3>
		  </div>
	  </div>

	  <div class="row p32 tCenter">
		  <div class="col-50 ">
			  <h3>Titulo universitario</h3>
		  </div>


		  <div class="col-50 ">
			  <h3>Titulo universitario</h3>
		  </div>
	  </div>

		  <a class="item item item-icon-right" href="#">
		  <h2 class="miniDesc">No existe en nuestra base...</h2>
	      <p>Por favor busca nuevamente </p>
	 	  <i class="icon icon-right ion-chevron-right"></i>
		</a>
	
		<a class="item item item-icon-right" href="#">
		  <h2 class="miniDesc">Solicita una nueva posición</h2>
	      <p>Si o deseas nuestro equipo de expertos puede ayudarte</p>
	      <i class="icon icon-right ion-chevron-right"></i>
		</a>

		<a class="item item item-icon-right" href="#">
			<h2 class="miniDesc">Ayuda</h2>
			<p>Si o deseas nuestro equipo de expertos puede ayudarte</p>
			<i class="icon icon-right ion-chevron-right"></i>
		</a>


		</div>




  </ion-content>


</ion-view>
