<ion-view view-title="Perfil vs. puesto" cache-view="false">

	<ion-content ng-controller="analyticsTrackView-c3_profileVsResult">

		<div class="row p32 Tcenter">
	<div class="col-50 Tcenter">
				<h4>{{profileData.hierarchyName}} de</h4>
				<h4>{{profileData.sectorName}}</h4>
				<h4>del area de</h4>
				<h4>{{profileData.areaName}}</h4>
			</div>

			<div class="col-50 Tcenter">
				<h4>{{profileVsResultData.hierarchyName}} de</h4>
				<h4>{{profileVsResultData.sectorName}}</h4>
				<h4>del area de</h4>
				<h4>{{profileVsResultData.areaName}}</h4>
			</div>
		</div>



	  <div class="row p32 tCenter">
		  <div class="col col-33 ">
			  <h3>${{profileData.amount  | number:0}}</h3>
		  </div>

		  <div class="col col-33 ">
			  <h3 class="text{{profileVsResultData.amountStatus}}">{{((((profileData.amount - profileVsResultData.average)/profileVsResultData.average))*100)-1  | number:0}}%</h3>
		  </div>

		  <div class="col col-33 ">
			  <h3>${{profileVsResultData.average  | number:0}}</h3>
		  </div>
	  </div>

	<!--
	  <div class="row p32 tCenter">
		  <div class="col-33 ">
			  <h3>5 Años</h3>
		  </div>

		  <div class="col-33 ">
			  <h3>2 Años</h3>
		  </div>

		  <div class="col-33 ">
			  <h3>3 Años</h3>
		  </div>
	  </div>

	  <div class="row p32 tCenter">
		  <div class="col-50 ">
			  <h3>Titulo universitario</h3>
		  </div>


		  <div class="col-50 ">
			  <h3>Titulo universitario</h3>
		  </div>
	  </div>

	-->
		<ion-item nav-clear menu-close href="#/app/c3_areas">
			<i class="icon icon-left ion-person-stalker" style="margin-right: 12px;"></i>
			Compararme contra otro puesto
		</ion-item>

		<ion-item nav-clear menu-close href="#/app/c4_profileVsPyramid">
			<i class="icon icon-left ion-ios-people" style="margin-right: 12px;"></i>
			Compararme vs. mi sector
		</ion-item>

		<a class="item item item-icon-right" href="mailto:cuantoganas@bits0.com?Subject=Nueva%20Posicion">
		  <h2 class="miniDesc">Solicita una nueva posición</h2>
	      <p>Si o deseas nuestro equipo de expertos puede ayudarte</p>
	      <i class="icon icon-right ion-chevron-right"></i>
		</a>

		<ion-item nav-clear class="item item-icon-right" menu-close href="mailto:cuantoganas@bits0.com?Subject=Help">
			<div class="row">
				<div class="col bits0"></div>
				<div class="col" style="margin-left: 12px;">
					<h2>Ayuda</h2>
					<p>Nuestro equipo esta para ayudarte</p>
				</div>
			</div>
			<i class="icon icon-right ion-chevron-right"></i>
		</ion-item>


		</div>

  </ion-content>

</ion-view>
