<ion-view view-title="BUSCADOR">
  
  <ion-content> 
	
	<div class="list list-inset">
	  <label class="item item-input">
	    <i class="icon ion-search item-icon-right placeholder-icon"></i>
	    <input type="text" placeholder="Buscador por texto">
	  </label>
	</div>
	
	
	<ion-list>

	   	<a class="item item-avatar item-icon-right" ng-controller="JsonCtrl" ng-click="runJson()" >
		  <img src="venkman.jpg">
	      <h2 class="miniDesc">runJson synd db</h2>
		      <p class="">Mini descripción:</p>
		      <p style="widht: 100%;">Bla bla bla bla Bla bla bla bla bla bla bla Bla bla bla bla Bla bla bla bla Bla bla bla bla</p>
		      <p>Bla bla bla bla Bla bla bla bla</p>
		  <i class="icon icon-right ion-chevron-right"></i>
		</a>

		<a class="item item-avatar item-icon-right" ng-controller="TestSQLCtrl" ng-click="countDB()" >
		 <img src="venkman.jpg">
	      <h2 class="miniDesc">Count elements DB</h2>
		      <p class="">Mini descripción:</p>
		      <p style="widht: 100%;">Bla bla bla bla Bla bla bla bla bla bla bla Bla bla bla bla Bla bla bla bla Bla bla bla bla</p>
		      <p>Bla bla bla bla Bla bla bla bla</p>
		  <i class="icon icon-right ion-chevron-right"></i>
		</a>

		<a class="item item-avatar item-icon-right" ng-controller="TestSQLCtrl" ng-click="execQueryDB()" >
			<img src="venkman.jpg">
			<h2 class="miniDesc">Exec query DB</h2>
			<p class="">Mini descripción:</p>
			<p style="widht: 100%;">Bla bla bla bla Bla bla bla bla bla bla bla Bla bla bla bla Bla bla bla bla Bla bla bla bla</p>
			<p>Bla bla bla bla Bla bla bla bla</p>
			<i class="icon icon-right ion-chevron-right"></i>
		</a>
	

  </ion-content>


</ion-view>
