<ion-view class="analysisGood" view-title="Ayuda">
    <ion-content>

        <div class="list">


            <label class="item item-input item-stacked-label">
                <h1>Soporte y ayuda</h1>
                <p p20">Nuestro equipo esta para ayudarte en todo lo que necesites, por favor</p>
                <p> dejanos un email para que podamos contactarnos con vos.</p>
                <input style="margin-top: 24px; margin-bottom: 24px;" type="text" placeholder="tuemail@tuemail.com">

            </label>

            <label class="item item-input">
                <textarea ROWS="8" placeholder="Por favor contanos en que te podemos ayudar y a la brevedad te responderemos."></textarea>
            </label>
        </div>

        <button class="button button-full button-positive">
            Enviar
        </button>


    </ion-content>
</ion-view>