<ion-view view-title="Jerarquias">
  
	<ion-content>
  	
  		<div class="list list-inset p20">
			<h3 class="">País: {{profileData.countryName}}</h3>
			<h3 class="">Sueldo: {{profileData.amount}}</h3>
		</div>

  
	    <ion-list>
	      	<ion-item class="item item-icon-right" ng-repeat="hierarchy in hierarchies" href="#/app/areas/{{hierarchy.hierarchyId}}/{{hierarchy.name}}">
	      		<h2 class="miniDesc">{{hierarchy.name}}</h2>
				<p>{{hierarchy.description}}</p>
				<i class="icon icon-right ion-chevron-right"></i>
	      	</ion-item>
	      	<a class="item item-avatar item-icon-right" href="#">
		      <h3 class="miniDesc">Ayuda</h3>
		      <p>Nuestro equipo esta para ayudarte</p>
			  <i class="icon icon-right ion-chevron-right"></i>
			</a>
	    </ion-list>
  	</ion-content>
</ion-view>