  <body ng-app="ionicApp">

    <ion-nav-bar class="bar-dark">

        <ion-nav-buttons side="right" href="#/app/main">
            <button class="button button-icon button-clear ion-home" menu-toggle="right" ng-click="" >
            </button>
        </ion-nav-buttons>

    </ion-nav-bar>

    <script id="templates/intro.html" type="text/ng-template"> 
      <ion-view view-title="Intro">
        <ion-nav-buttons side="left">
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-show="!slideIndex">
            Skip Intro
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="previous()" ng-show="slideIndex > 0">
            Previous Slide
          </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right"> 
          <button class="button button-positive button-clear no-animation"
                  ng-click="next()" ng-show="slideIndex != 2">
            Next
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-show="slideIndex == 2">
            Start using MyApp
          </button>
        </ion-nav-buttons>
        <ion-slide-box on-slide-changed="slideChanged(index)">
          <ion-slide>
            <h3>Thank you for choosing the Awesome App!</h3>
            <div id="logo">
              <img src="http://code.ionicframework.com/assets/img/app_icon.png">
            </div>
            <p>
              We've worked super hard to make you happy.
            </p>
            <p>
              But if you are angry, too bad.
            </p>
          </ion-slide>
          <ion-slide>
            <h3>Using Awesome</h3>
            
            <div id="list">
              <h5>Just three steps:</h5>
              <ol>
                <li>Be awesome</li>
                <li>Stay awesome</li>
                <li>There is no step 3</li>
              </ol>
            </div>
          </ion-slide>
          <ion-slide>
            <h3>Any questions?</h3>
            <p>
              Too bad!
            </p>
          </ion-slide>
        </ion-slide-box>
      </ion-view>
    </script>

    <!--<script id="templates/main.html" type="text/ng-template"> -->

        <ion-view view-title="Cuanto Ganas?">

            <ion-content>


                <ion-list>
                    <div class="list card">

                    <!-- <ion-item nav-clear menu-close href="#/app/devtest">
                        Dev Test
                    </ion-item>-->
                    <ion-item nav-clear menu-close href="#/app/profile">
                        <i class="icon icon-left ion-android-clipboard" style="margin-right: 12px;"></i>
                        Mi perfil
                    </ion-item>

                    <ion-item nav-clear menu-close href="#/app/c1_areas">

                        <i class="icon icon-left ion-ios-search-strong" style="margin-right: 12px;"></i>
                        Buscar un puesto en el mercado
                    </ion-item>

                    <ion-item nav-clear menu-close href="#/app/c2_areas">
                        <i class="icon icon-left ion-earth" style="margin-right: 12px;"></i>
                        Comparame con el mercado
                    </ion-item>

                    <ion-item nav-clear menu-close href="#/app/c3_areas">
                        <i class="icon icon-left ion-person-stalker" style="margin-right: 12px;"></i>
                        Compararme contra otro puesto
                    </ion-item>

                    <ion-item nav-clear menu-close href="#/app/c4_profileVsPyramid">
                        <i class="icon icon-left ion-ios-people" style="margin-right: 12px;"></i>
                        Compararme vs. mi sector
                    </ion-item>

                    <ion-item nav-clear menu-close href="#/app/c6_salaryIncrease">
                        <i class="icon icon-left ion-ios-pulse-strong" style="margin-right: 12px;"></i>
                        Aumentos por industria
                    </ion-item>

                    <!--
                    <ion-item nav-clear menu-close href="#/app/c5_inflation">
                        Inflacion
                    </ion-item>


                    <ion-item nav-clear menu-close  ng-click="toIntro()">
                        Tutorial
                    </ion-item>
                    -->

                    <ion-item nav-clear class="item item-icon-right" menu-close href="mailto:cuantoganas@bits0.com?Subject=Help">
                        <div class="row">
                            <div class="col bits0"></div>
                            <div class="col" style="margin-left: 12px;">
                                <h2>Ayuda</h2>
                                <p>Nuestro equipo esta para ayudarte</p>
                            </div>
                        </div>
                        <i class="icon icon-right ion-chevron-right"></i>
                    </ion-item>
                    </div>

                </ion-list>
            </ion-content>

          </ion-view>
  </body>


