<ion-view view-title="PUESTO">
  
  <ion-content> 
	 
	<div class="list">


	<div class="list list-inset p20">
		<h3 class="">País: ARGENTINA</h3>
		<h3 class="">Sueldo: 20000</h3>
		<h3 class="">Jerarquia: Jefe</h3>
		<h3 class="">Area: Finanzas</h3>
		<h3 class="">Experiencia: Senior</h3>

	</div>
	
	
	   	<a class="item item-avatar item-icon-right" href="#">
		  <h1 class="miniDesc">Puesto titulo</h1>
		      <p>Puesto descripcion</p>
		  <i class="icon icon-right ion-chevron-right"></i>
		</a>

   		<a class="item item-avatar item-icon-right" href="#">
		  <h1 class="miniDesc">Puesto titulo</h1>
		      <p>Puesto descripcion</p>
		  <i class="icon icon-right ion-chevron-right"></i>
		</a>

   		<a class="item item-avatar item-icon-right" href="#">	
		  <h1 class="miniDesc">Puesto titulo</h1>
		      <p>Puesto descripcion</p>
		  <i class="icon icon-right ion-chevron-right"></i>
		</a>

		<a class="item item-avatar item-icon-right" href="#">
	      <h2 class="miniDesc">Ayuda</h2>
	      <p>Nuestro equipo esta para ayudarte</p>
		  <i class="icon icon-right ion-chevron-right"></i>
		</a>
	
	
  </ion-content>


</ion-view>
