<ion-view view-title="COMPARAR CON PIRAMIDE">
  
  
  
  <ion-content> 
	
	
	
	<div class="list">
	

		<a class="item item-avatar item-icon-right" href="#">
		  <img src="venkman.jpg">
	      <h2 class="miniDesc">Director de Finanzas</h2>
	      <span class="badge badge-balanced"><h2 class="white">+45%</h2></span>
	           <p class="">Remuneración mensual: 100000</p>
		      <p style="widht: 100%;">Bla bla bla bla Bla bla bla bla bla bla bla Bla bla bla bla Bla bla bla bla Bla bla bla bla</p>
		      <p>Bla bla bla bla Bla bla bla bla</p>
		  <i class="icon icon-right ion-chevron-right"></i>
		</a>
		
		<a class="item item-avatar item-icon-right" href="#">
		  <img src="venkman.jpg">
	      <h2 class="miniDesc">Gerente de Finanzas</h2>
		  <span class="badge badge-balanced"><h2 class="white">+20%</h2></span>
	      <p class="">Mini descripción:</p>
		      <p style="widht: 100%;">Bla bla bla bla Bla bla bla bla bla bla bla Bla bla bla bla Bla bla bla bla Bla bla bla bla</p>
		      <p>Bla bla bla bla Bla bla bla bla</p>
		  <i class="icon icon-right ion-chevron-right"></i>
		</a>

		
	    <a class="item item-avatar item-icon-right" href="#">
		  <img src="venkman.jpg">
	      <h2 class="miniDesc">Jefe de finanzas</h2>
		  <span class="badge badge-balanced"><h2 class="white">+8%</h2></span>
	          <p class="">Mini descripción:</p>
		      <p style="widht: 100%;">Bla bla bla bla Bla bla bla bla bla bla bla Bla bla bla bla Bla bla bla bla Bla bla bla bla</p>
		      <p>Bla bla bla bla Bla bla bla bla</p>
		  <i class="icon icon-right ion-chevron-right"></i>
		</a>

		<a class="item item-avatar item-icon-right" href="#">
		  <img src="venkman.jpg">
	      <h2 class="miniDesc">Mi perfil</h2>
		      <p class="">Mini descripción:</p>
		      <p style="widht: 100%;">Bla bla bla bla Bla bla bla bla bla bla bla Bla bla bla bla Bla bla bla bla Bla bla bla bla</p>
		      <p>Bla bla bla bla Bla bla bla bla</p>
		  <i class="icon icon-right ion-chevron-right"></i>
		</a>
	
	    <a class="item item-avatar item-icon-right" href="#">
		  <img src="venkman.jpg">
	      <h2 class="miniDesc">Analista de finanzas</h2>
		  <span class="badge badge-assertive"><h2 class="white">-20%</h2></span>
	         <p class="">Mini descripción:</p>
		      <p style="widht: 100%;">Bla bla bla bla Bla bla bla bla bla bla bla Bla bla bla bla Bla bla bla bla Bla bla bla bla</p>
		      <p>Bla bla bla bla Bla bla bla bla</p>
		  <i class="icon icon-right ion-chevron-right"></i>
		</a>
	
	
	
	</div>




  </ion-content>


</ion-view>
