<ion-view view-title="PERFIL">
  
  <ion-content> 
 
	 <ion-list>
	     
	      	
	      	<ion-item class="item item-icon-right">
	      		<h1 class="miniDesc">Perfil privado</h1>
	    		<h2 class="miniDesc">País: ARGENTINA</h2>
	    	   	<h2 class="miniDesc">Sueldo: 20000</h2>
	   			<h2 class="miniDesc">Area: Finanzas</h2>
				<h2 class="miniDesc">Jerarquia: Jefe</h2>
				<h2 class="miniDesc">Experiencia: Senior</h2>
		  	</ion-item>
	    
	    	<ion-item class="item item-avatar item-icon-right"  href="#/app/areas">
	     		<h3>Editar mi perfil</h3>
	    	    <i class="icon icon-right ion-chevron-right"></i>
		  	</ion-item>
	    
	    	<ion-item class="item item-avatar item-icon-right"  href="#/app/areas">
	     		<h3>+ aumento sueldo</h3>
	      	    <i class="icon icon-right ion-chevron-right"></i>
		  	</ion-item>
	    
	     	<ion-item class="item item-avatar item-icon-right"  href="#/app/areas">
	     		<h3>+ Ascenso / Nuevo puesto</h3>
	      	    <i class="icon icon-right ion-chevron-right"></i>
		  	</ion-item>
	     	
	      	<a class="item item-avatar item-icon-right" href="#">
		      <h2 class="miniDesc">Ayuda</h2>
		      <p>Nuestro equipo esta para ayudarte</p>
			  <i class="icon icon-right ion-chevron-right"></i>
			</a>
	 </ion-list>
	
  </ion-content>
</ion-view>
