<ion-view view-title="Mi perfil" cache-view="false">

  
  <ion-content ng-controller="analyticsTrackView-profile">
 
	 <ion-list>

		 <div class="list list-inset Tcenter">
			 <h3 class="">{{profileData.hierarchyName}} {{profileData.seniorityName}} de {{profileData.sectorName}} de {{profileData.areaName}}</h3>
			 <h1>${{profileData.amount}}</h1>
			 <h3 class=miniDesc"">de remuneración bruta mensual</h3>

			 <p>Cuando ganas? no guarda datos que te puedan identificar para resguardar la privacidad de todos.</p>
		 </div>

	    	<ion-item class="item  item-icon-right" href="#/app/c2_areas">
	     		<h2>Editar mi perfil</h2>
	    	    <i class="icon icon-right ion-chevron-right"></i>
		  	</ion-item>

		 <ion-item class="item  item-icon-right"  href="#/app/c2_areas">
	     		<h2>+ Aumento sueldo</h2>
	      	    <i class="icon icon-right ion-chevron-right"></i>
		  	</ion-item>

		 <ion-item class="item  item-icon-right"  href="#/app/c2_areas">
	     		<h2>+ Ascenso / Nuevo puesto</h2>
	      	    <i class="icon icon-right ion-chevron-right"></i>
		  	</ion-item>

		 <ion-item class="item  item-icon-right"  href="mailto:cuantoganas@bits0.com">
		      <h2 class="miniDesc">Ayuda</h2>
		      <p>Nuestro equipo esta para ayudarte</p>
			  <i class="icon icon-right ion-chevron-right"></i>
			</a>
	 </ion-list>
	
  </ion-content>
</ion-view>
