<ion-view view-title="BUSCADOR">
  
  <ion-content> 
	
	<div class="list list-inset">
	  <label class="item item-input">
	    <i class="icon ion-search item-icon-right placeholder-icon"></i>
	    <input type="text" placeholder="Buscador por texto" ng-model="searchQ">
	  </label>
	</div>


	  <ion-list>

		  <ion-item class="item item-icon-right" ng-repeat="position in positions | filter:searchQ as results" href="#/app/analysis/{{position.positionId}}/{{position.name}}">
			  <h2 class="miniDesc">{{position.name}}</h2>
			  <p>{{position.description}}</p>
			  <i class="icon icon-right ion-chevron-right"></i>
		  </ion-item>

		  <a class="item item-avatar item-icon-right" href="#">
			  <h3 class="miniDesc">Ayuda</h3>
			  <p>Nuestro equipo esta para ayudarte</p>
			  <i class="icon icon-right ion-chevron-right"></i>
		  </a>
	  </ion-list>




  </ion-content>


</ion-view>
